.bgColor {
  background-color: white;
}

.block {
  padding: 60px 0;
}

.containerFluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.titleHolder {
  text-align: center;
  position: relative;
  padding: 0 0 40px;
}

.titleHolder h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--black-accent);
}

.serviceBlock .contentHolder {
  text-align: center;
  margin: 0 0 50px;
}

.serviceBlock .icon {
  font-size: 40px;
  color: #1890ff;
  margin: 0 0 10px;
}

.serviceBlock .content {
  text-align: center;
}

.metaTitle {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: var(--main-accent-bg);
}

.serviceCard {
  background-color: #fafafa;
}

@media (max-width: 1025px) {
  .titleHolder h2 {
    font-size: 35px;
    margin: 0;
  }
  .metaTitle {
    font-size: 25px;
  }
}

@media (max-width: 350px) {
  .titleHolder h2 {
    font-size: 25px;
    margin: 0;
  }
}
