.block {
  background: url("../../../public/svg/map.svg") no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  padding: 60px 0;
}

.containerFluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.titleHolder {
  text-align: center;
  position: relative;
  padding: 0 0 40px;
}

.titleHolder h2 {
  font-size: 48px;
  font-weight: 700;
  color: var(--black-accent);
}

.cardIcon {
  color: #bbbbbb;
  font-size: 80px;
}

.cardTitle {
  color: var(--main-accent-bg);
  font-size: 20px;
}

.content {
  text-align: center;
}

@media (max-width: 1025px) {
  .titleHolder h2 {
    font-size: 35px;
    margin: 0;
  }
}

@media (max-width: 350px) {
  .titleHolder h2 {
    font-size: 25px;
    margin: 0;
  }
  .cardIcon {
    color: #bbbbbb;
    font-size: 50px;
  }
}
