.bgColor {
  background: url("https://cdn.wallpapersafari.com/4/70/YoWdgA.jpg") no-repeat;
  background-position: 100% 50%;
  background-size: cover;
  min-height: 35vh;
}

.aboutCard {
  min-height: 35vh;
}

.containerFluid {
  margin: 0 auto;
  padding: 0 15px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title1 {
  font-size: 32px;
  font-weight: 400;
  color: white;
}
.title2 {
  font-size: 48px;
  font-weight: 700;
  color: white;
}

.joinButton {
  background-color: #fafafa;
  border-radius: 5px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  color: black;
}

@media (max-width: 1025px) {
  .title1 {
    font-size: 25px;
    margin: 0;
  }
  .title2 {
    font-size: 25px;
  }
  .joinButton {
    height: 40px;
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .title1 {
    font-size: 20px;
    margin: 0;
  }
  .title2 {
    font-size: 20px;
  }
  .joinButton {
    font-size: 14px;
  }
  .containerFluid {
    padding: 15px 0px;
  }
}

@media (max-width: 350px) {
  .title1 {
    font-size: 16px;
    margin: 0;
  }
  .title2 {
    font-size: 16px;
  }
  .joinButton {
    font-size: 12px;
  }
}
