/* 
hero
---- 
*/
.containerFluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.heroBlock {
  background: url("../../../public/svg/map.svg") no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  height: 100vh;
}

.heroBlock .containerFluid {
  display: block !important;
}

.heroBlock .content {
  height: 100vh;
  margin: 0 auto;
  max-width: 1040px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 70px;
}

.heroBlock h3 {
  font-size: 73.6px;
  font-weight: 700;
  color: var(--black-accent);
  line-height: 1.2;
  margin: 0 0 30px;
}

.heroBlock h3 span {
  color: var(--main-accent-bg);
}

.heroBlock p {
  font-size: 32px;
  color: var(--main-accent-bg);
  margin: 0 0 30px;
}

.btnHolder .button1 {
  background-color: #fff;
  border-radius: 5px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  color: var(--main-accent-bg);
  border: none;
}

.btnHolder .button1:hover {
  background-color: #dad7eb;
}

.btnHolder .button2 {
  background-color: var(--main-accent-bg);
  border-radius: 5px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border: none;
}

.btnHolder .button2:hover {
  background-color: #6f5bdf;
}

.heroBlock .btnHolder button,
.heroBlock .btnHolder .fas {
  margin: 0 10px 0 0;
}

@media (max-width: 1025px) {
  .heroBlock h3 {
    font-size: 50px;
  }
  .containerFluid {
    padding: 0 10%;
  }
  .heroBlock {
    height: 70vh;
  }
  .heroBlock .content {
    height: 80vh;
  }
}

@media (max-width: 500px) {
  .heroBlock h3 {
    font-size: 30px;
  }
  .heroBlock p {
    font-size: 20px;
  }
  .containerFluid {
    padding: 0 10%;
  }
  .heroBlock {
    height: 70vh;
  }
  .heroBlock .content {
    height: 80vh;
  }
}

@media (max-width: 350px) {
  .btnHolder {
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .btnHolder .button1 {
    width: 100%;
  }
  .btnHolder .button2 {
    width: 100%;
  }
  .heroBlock {
    height: 70vh;
  }
  .heroBlock .content {
    height: 80vh;
  }
}
