/* 
hero
---- 
*/
.containerFluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.heroBlock {
  background: url("https://cdn.wallpapersafari.com/4/70/YoWdgA.jpg") no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  min-height: 60vh;
}

.heroBlock .containerFluid {
  display: block !important;
}

.aboutCard {
  min-height: 60vh;
}

.heroBlock .content {
  border-radius: 20px;
  max-width: 940px;
  display: flex;
  flex-direction: column;
  min-height: 55vh;
  padding: 10px 40px;
  justify-content: space-around;
  background-color: white;
  text-align: center;
}

.heroBlock h3 {
  font-size: 48px;
  font-weight: 700;
  color: var(--black-accent);
  line-height: 1.2;
  margin: 0 0 30px;
}

.heroBlock p {
  font-size: 19.2px;
  margin: 0 0 30px;
}

.btnHolder {
  padding: 10px 0;
}

.btnHolder .button1 {
  background-color: var(--main-accent-bg);
  border-radius: 5px;
  height: 50px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}

@media (max-width: 1025px) {
  .heroBlock h3 {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .heroBlock p {
    font-size: 16px;
    margin: 0;
  }
  .heroBlock h3 {
    font-size: 30px;
    margin: 0;
  }
  .heroBlock {
    padding: 10px 0px;
  }
}

@media (max-width: 350px) {
  .heroBlock h3 {
    font-size: 25px;
  }
}
